.card {
  background-color: #eee;
  display: inline-block;
  float: left;
  position: absolute;
  height: 186px;
  width: 128px;
  z-index: 10;
}

$suits: "hearts" "spades" "clubs" "diamonds";
$values: "ace" "2" "3" "4" "5" "6" "7" "8" "9" "10" "jack" "queen" "king";

@each $suit in $suits {
  @each $val in $values {
    .#{$suit}-#{$val} {
      background: url("../images/cards/#{$val}_of_#{$suit}.png");
      background-size: 128px 186px;
    }
  }
}
