.card {
  background-color: #eee;
  display: inline-block;
  float: left;
  position: absolute;
  height: 186px;
  width: 128px;
  z-index: 10;
  background: url("../images/spade_01.png");
  background-size: contain;
}
