.cascades {
  height: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.Cascade {
  position: relative;
  height: 100%;
  width: 128px;

  &:before {
    content: '';
    height: 186px;
    width: 128px;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
    display: block;
  }
}
