@import 'base/variables.scss';
@import 'base/mixins.scss';

.Game {

  // Menu element
  &_menu {
    font-family: 'Slackey', cursive;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;

    h3 {
      margin: 0 1rem 0 0;
      font-size: 4rem;
      color: $color-title;
      @include Text3D($color-title);
    }

    .buttons {
      cursor: pointer;

      a {
        color: $color-background-darker;
        text-decoration: none;
        padding: .5rem 1rem;
        margin-left: 1rem;

        &:hover {
          color: $color-highlight;
        }
      }
    }
  }

  // Board element
  &_board {
    position: relative;
    width: 1500px;
    height: 1200px;
    padding: 10px;
    margin: auto;
  }
}
