.Game {

  // Menu element
  &_menu {

    h3 {
      margin: 0;
    }
  }

  // Board element
  &_board {
    position: relative;
    width: 1500px;
    height: 1200px;
    padding: 10px;
    margin: auto;
  }
}
