* {
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

body {
  background-color: #407d42;
}


.tableau {
  position: relative;
  width: 1500px;
  height: 1200px;
  padding: 10px;
  margin: auto;
}
