@import 'start_screen/title.scss';
@import 'start_screen/menu.scss';
@import 'start_screen/button.scss';

.start-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  font-family: 'Slackey', cursive;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #5ba4c6 11%,#1a91c9 32%,#0d8cc6 87%);
  z-index: 1000;
  transition: opacity 1s;
}

.contain {
  width: 1500px;
  position: relative;
  display: flex;
  flex-flow: column;
}

.club-svg {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: scale(8) translate(0px, 30px) rotateZ(-30deg);
  pointer-events: none;
}

.heart-svg {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: scale(8) translate(-30px, 30px) rotateZ(30deg);
  pointer-events: none;
}

.hidden {
  opacity: 0;
}
