@import 'Button.scss';

$colorTitle: #efefef;

// StartScreen block
.StartScreen {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #5ba4c6 11%,#1a91c9 32%,#0d8cc6 87%);
  z-index: 1000;
  transition: opacity 1s;

  // Container element
  &_container {
    width: 1500px;
    position: relative;
    display: flex;
    flex-flow: column;
  }

  // Title element
  &_title {
    text-align: center;
    font-size: 10em;
    margin-bottom: 1em;
    color: $colorTitle;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: darken($colorTitle, 26%);
    text-shadow: 0 1px 0 darken($colorTitle, 20%),
                0 2px 0 darken($colorTitle, 22%),
                0 3px 0 darken($colorTitle, 24%),
                0 4px 0 darken($colorTitle, 26%),
                0 5px 0 darken($colorTitle, 28%),
                0 6px 0 darken($colorTitle, 30%),
                0 7px 0 darken($colorTitle, 32%),
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
    animation: fadein 3s;
  }

  // Menu element
  &_menu {
    display: flex;
    justify-content: center;
  }

  .club-svg {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: scale(8) translate(0px, 30px) rotateZ(-30deg);
    pointer-events: none;
  }

  .heart-svg {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: scale(8) translate(-30px, 30px) rotateZ(30deg);
    pointer-events: none;
  }
}
