* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

body {
  background-color: #407d42;
  position: relative;
  margin: 0;
  font-family: 'Slackey', cursive;
  cursor: default;
}
