// colors
$color-background: #407d42;
$color-background-dark: darken($color-background, 5%);
$color-background-darker: darken($color-background, 15%);
$color-highlight: #FFAD00;
$color-title: #efefef;
